.nav-Container {
  display: flex;
  justify-content: space-evenly;
}

.dbnav {
  color: #17014C;
  margin: auto 0
}

.dbnav:focus {
  color: #FA818A;
  text-decoration: underline;
}

.dbplus {
  color: #FA818A;
  font-size: 2.5rem
}
