.nav-Container {
  display: flex;
  justify-content: space-evenly;
  max-width: 800px;
  margin: 0 auto
}

.dbnav {
  color: #17014C;
  margin: auto 0;
  font-size: 1.5rem
}

.dbnav:focus {
  color: #FA818A;
  text-decoration: underline;
}

.dbplus {
  color: #FA818A;
  font-size: 2rem
}
