.footer-container {
  display: flex;
  justify-content: space-evenly;
  color: #17014c;
  margin-top: auto;
  height: 20vh;
  width: 100vw;
}

.footer-button {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  max-height: 100%
}

.footer-icon {
  height: 40px;
}