.headerContainer {
  display: flex;
  border-bottom: 2px black double;
  justify-content: center;
  height: 100px;
}

.headerNav * {
  margin: 20px 20px;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.headerNav {
  margin: auto 0;
}
